{% extends "partials/base.j2" %}
{% block title %}Test{% endblock %}
{% block content %}
    <div class="container">
        <h1>Test page</h1>
        <img src="https://via.placeholder.com/300" alt="Placeholder image" align="right">
        <p>This is some sample content.</p>
        <h2>Subheading</h2>
        <p>{{data.vegetable}}</p>
        <p>lorem ipsum or however that goes.</p>
        <h3>Another heading</h3>
    </div>
{% endblock %}
