{% from 'partials/macros.j2' import page_start, page_end -%}
{{ page_start('Home') }}
    <div class="container">
        <h1>Page content - goes here</h1>
        <p>Page content goes here. We can add some more like this.</p>
        <img src="https://via.placeholder.com/150" alt="Placeholder image">
        <h2>Subheading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Another paragraph here.</p>
    </div>
{{ page_end() }}
